/* .cart1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid red;
}

.button{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.button button{
    background-color: orange;
    margin: 20px;
} */
/* .signup-section {
    display: flex;
    align-items: center;
    justify-content: center;
} */

